
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #373737
}


ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s
}

a {
    color: #2c3e50;
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6,
h1,
.h1,
.h2,
.h3 {
    font-weight: 400
}

h1 {
    font-size: 50px;
    line-height: 60px;
}

h2 {
    font-size: 30px;
    line-height: 40px
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 20px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 28px
}

h6 {
    font-size: 16px;
    line-height: 26px
}

p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
    font-weight: 500
}

blockquote {
    color: #777777;
}

.font-700 {
    font-weight: 700
}

.font-600 {
    font-weight: 600
}

.font-500 {
    font-weight: 500
}

.text-uppercase {
    text-transform: uppercase
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.m-0 {
    margin: 0
}

.p-0 {
    padding: 0
}

.color-white {
    color: #fff!important
}

.color-black{
    color: #000!important;
}

.color-base {
    color: #F58735!important;
}
.form-control {
    border: 1px solid #e6f1f1;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    border-radius: 2px
}
.main-gradient-text {
    background-image: linear-gradient(-45deg, #F58735 0%, rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}
.main-gradient{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 100% auto;
    background-image: -webkit-gradient(-45deg, #F58735 0%, rgb(255, 255, 255));
    background-image: linear-gradient(-45deg, #F58735 0%, rgb(255, 255, 255));
}

.bg-gray {
    background-color: #f5f5f5
}

/*-------------------------------------------------------------------------------
     Backgroud banner color design 
---------------------------------------------------------------------------------*/
.overlay {
    background:#F58735;
    background: linear-gradient(-45deg, #F58735 0%, rgb(255, 254, 254) 100%);
    background: -webkit-gradient(-45deg, #F58735 0%, rgb(253, 252, 252) 100%);

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.90
}
.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fix {
    overflow: hidden
}

.full-height {
    height: 100vh
}

.position-relative {
    position: relative
}

.btn-lg a {
    padding: 8px 40px;
    border-radius: 30px;
    display: inline-block;
    font-weight: 500;
    margin-right: 10px;
    font-size: 16px;
    color: #fff
}

.btn-lg a i {
    font-size: 30px;
    padding-right: 10px;
    display: inline-block;
    margin: 6px 0 0;
}

.icofont-navigation-menu{
    color: #F58735;
    font-size: 25px;
}

/*-------------------------------------------------------------------------------
    Preloader
---------------------------------------------------------------------------------*/
.preloader {
    background: #F58735;
    background: linear-gradient(-45deg, #F58735 0%, rgb(255, 255, 255));
    background: -webkit-gradient(-45deg, #F58735 0%, rgb(255, 255, 255));
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 21% auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/*-------------------------------------------------------------------------------
    Header
---------------------------------------------------------------------------------*/

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9
}

nav.navbar.bootsnav ul.nav > li > a {
    color: #fff;
    font-size: 16px;
}
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li > a:hover {
    color: #256170;
}
/* To make the line under the nav menu */
nav.navbar.bootsnav ul.nav > li > a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #256170;
    position: absolute;
    left: 8px;
    bottom: 18px;
    transition: 0.5s;
}
/* To make the line under the nav items show on hover */
nav.navbar.bootsnav ul.nav > li > a:hover::after{
    width: 80%;
}

.attr-nav > ul > li > a {
    background-color: #fff;
    color: #F58735;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: 500;
    margin: 20px 0 20px 10px;
}

.navbar {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

nav.navbar.bootsnav {
    background-color: transparent;
    border-bottom: 0;
    z-index: 9;
}

.navbar.affix-top {
    position: static;
    top: -10px;
}

/* Navbar menu background color */
.navbar.affix {
    background:#F58735;
    background: linear-gradient(-45deg, #F58735 0%, rgb(255, 254, 254) 100%);
    background: -webkit-gradient(-45deg, #F58735 0%, rgb(253, 252, 252) 100%);
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    height: 90px;
}



/*-------------------------------------------------------------------------------
    Hashtags section styling
---------------------------------------------------------------------------------*/

.row-hashtag-handles{
    margin-top: 50px;
}
.hashtag-handles{
    transition: transform 0.3s ease;
    h5 a{
        font-size: 18px;
        font-weight: 600;
        color: #256170;
    }
}
.hashtag-handles i {
    font-size: 30px;
    border-radius: 20px 0;
    padding: 16px;
    display: inline-block;
    margin: 0 0 10px
}

h5 a spam {
    display: inline-block;
    transition: transform 0.4s ease; /* Smooth rotation */
  }
  /* Rotate the span when the parent <a> is hovered */
  h5 a:hover spam {
    transform: rotate(90deg);
    color: #F58735;
  }


  #social-media-gallery h2::before, #social-media-gallery h2::after{
    content: "—";
    margin: 0 5px;
    color: #F58735; 
    font-weight: bold; 
  }

  #social-media-gallery h3{
    color: #256170;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
  }

  .photo-row {
    margin-bottom: 20px;
    img{
        border-radius: 4px;
      }
  }

  #video-gallery h2::before,#video-gallery h2::after{
    content: "—";
    margin: 0 5px;
    color: #F58735; 
    font-weight: bold; 
  }

  #tweet-messages h2::before,#tweet-messages h2::after{
    content: "—";
    margin: 0 5px;
    color: #F58735; 
    font-weight: bold;
  }
  .tweet-row .card{
    background-color: #fff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    margin-bottom: 20px;
    padding: 25px;
    height: 300px; 
    overflow-y: auto;
  }



/*-------------------------------------------------------------------------------
    Footer
---------------------------------------------------------------------------------*/

#footer {
    background:#F58735;
    background: linear-gradient(-45deg, #F58735 0%, rgb(18, 17, 17) 100%);
    padding: 20px 0;
    h5,p,a{
        font-weight: 600;
        color: #fff;
    }
}
.footer-contact-us i{
    font-size: 20px;
}
.footer-contact-us ul li{
    color: #fff;
}
.footer-links ul li a:hover{
   background-color: transparent;
   border: 1px solid #fff;
}
.subscribe-form {
    transition: background 0.5s, transform 0.5s;
    p{
        margin-bottom: 0%;
    }
    label{
        color: #fff;
        margin-top: 20px;
    }
    input{
        margin-bottom: 20px;
        border-radius: 6px;
        caret-color: #F58735;
        border: none;
    }
    a{
        border-radius: 6px;
        color: #fff;
        padding: 10px;
    }
}
.subscribe-btn:hover{
    color: #fff;
    font-weight: 800;
}
.footer-social ul li {
    display: inline-block;
}
.footer-social li a {
    color: #F58735;
    border: 2px solid #fff;
    padding: 3px 6px;
    font-size: 16px;
    display: block;
    border-radius: 6px;
    margin: 0 2px;
}
.footer-social li a:hover {
    color: #fff;
    background-color: #F58735;
    border-color: #F58735;
}


/*-------------------------------------------------------------------------------
    Back to Top styling
---------------------------------------------------------------------------------*/
.click-to-top {
    position: fixed;
    bottom: 30px;
    right: 15px;
    overflow: hidden;
    border-radius: 50%;
}
.click-to-top > a {
    color: #fff;
    display: block;
    font-size: 22px;
    padding: 6px 10px;
    background: #F58735;
    background: linear-gradient(-45deg, #F58735 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(-45deg, #F58735 0%, rgba(255, 255, 255, 1) 100%);
}

/*-------------------------------------------------------------------------------
    Hashtag Page Sytling
    --------Hashtag/Handle Page---------
---------------------------------------------------------------------------------*/
#hashtags-section {
    padding: 70px 0 70px
}
.banner-text-contents{
    padding: 30% 0 30%;
        p {
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 10px;
                spam{
                    color: #F58735;
                    font-size: larger;
                    font-weight: 600;
                }
        }
}

/* .banner-register-btn{
    padding-top: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    transition: background 0.5s, transform 0.5s;
    a{
        color: #fff;
        background: #F58735;
        border: 2px solid #F58735;
        padding: 10px 25px;
        border-radius: 5px;
    }
} */
/* .banner-register-btn a:hover {
    background-color: #F58735;
    border: none;
    color: #fff;
    transform: translateY(-2px);
} */
.hashtags-section {
    padding: 20px 10px;
    margin: -75px 0 10px;
    border-radius: 25px 25px 0 0;
    border: 1px solid #e6f0fa;
    background-color: #fff;
        p{
            color: #256170;
        }
}

.toolkit-title{
    font-weight: 600;
    font-size: 25px;
    color: #256170;
}

.hashtags-section-single {
    transition: background 0.5s, transform 0.5s;
    i{
        font-size: 30px;
        padding: 8px;
        border-radius: 10px 0;
        display: inline-block;
        margin: 0 0 15px;
    }
}


/*-------------------------------------------------------------------------------
    Faq
---------------------------------------------------------------------------------*/
#faq {
    padding: 50px 0 100px
}

#accordion {
    padding: 70px 0 0;
}

.panel-default > .panel-heading {
    background-color: #fff;
}

.panel-default {
    border-color: #e6f0f1;
    -webkit-box-shadow: 0 0 8px #e6f0f1;
    box-shadow: 0 0 8px #e6f0f1;
}

.panel-title > a {
    font-size: 18px;
    line-height: 28px;
    color: #777;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #e6f0fa;
    color: #777;
}

.panel-heading .accordion-toggle:after {
    font-family: 'IcoFont';
    content: "\eb7a";
    float: right;
    color: #F58735;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\eb73";
}

.adhs-img img {
    border-radius: 5px;
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 768px) {
    a .logo {
      display: none;
      color: #3e88dc;
    }
  }